/*------------------------------------
31. Login / Registration
------------------------------------*/

.account-form {
    input:not([type=submit]):not([type=radio]):not([type=checkbox]),
    select,
    textarea {
        padding: 5px 30px;
        border-radius: 3px;
        border-color: rgba($baseFontColor, 0.33);
        margin-bottom: 20px;
    }
    label {
        margin: 0;
        font-weight: 400;
        input {
            vertical-align: middle;
            margin: 0 10px 0 0 !important;
        }
    }
    .gender-inputs {
        label {
            margin-left: 10px;
            input {
                margin-right: 0 !important;
            }
        }
    }
    [type=submit] {
        width: 100%;
        display: block;
        border: none;
        border-radius: 3px;
        color: #fff;
        line-height: 4.6rem;
        margin-top: 20px;
        .client-ie &{
            height: 4.8rem;
        }
    }
    &.style-2 {
        .form-title {
            font-size: 2.8rem;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 54px;
            padding: 0 10px;
            line-height: 4.5rem;
        }
        input:not([type=submit]):not([type=radio]):not([type=checkbox]),
        select,
        textarea {
            padding: 2px 25px;
            margin-bottom: 0;
            .cps-theme-bg & {
                border-color: #ffffff;
            }
        }
        [type=submit] {
            font-size: 1.6rem;
            font-weight: 600;
            margin-top: 0;
            line-height: 38px;
            .cps-theme-bg & {
                background-image: none;
                background-color: #ffffff;
            }
            .client-ie &{
                height: 40px;
            }
        }
        label {
            font-size: 1.2rem;
            font-family: $headingFont;
            font-weight: 400;
            color: #b2e7fa;
            margin-top: 25px;
            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }
    }
}

.or-section {
    margin: 30px 0;
}

.login-with-social {
    a {
        display: block;
        width: 100%;
        border-radius: 3px;
        color: #ffffff;
        text-align: center;
        line-height: 4.6rem;
        + a {
            margin-top: 10px;
        }
        &.gplus-login {
            background-color: #ea4335;
        }
        &.facebook-login {
            background-color: #3b5998;
        }
        &.twitter-login {
            background-color: #1da1f2;
        }
    }
}

/*** Float sign up ***/

.cps-float-registration {
    .registration-form {
        background-color: #262626;
        color: #ffffff;
        padding: 45px 50px;
        border-radius: 3px;
        .form-title {
            font-weight: 500;
            font-size: 2.8rem;
            margin-top: 0;
            margin-bottom: 28px;
        }
        input:not([type=submit]):not([type=radio]):not([type=checkbox]),
        select,
        textarea {
            border-radius: 3px;
            font-size: 1.6rem;
            font-family: $headingFont;
            border-color: rgba(#fff, 0.5);
            padding: 2px 25px;
            margin-bottom: 20px;
            color: #ffffff;
            &:last-of-type{
                margin-bottom: 12px;
            }
        }
        ::-webkit-input-placeholder {
            color: rgba(#ffffff, 1);
            opacity: 1
        }
        ::-moz-placeholder {
            color: rgba(#ffffff, 1);
            opacity: 1
        }
        :-ms-input-placeholder {
            color: rgba(#ffffff, 1);
            opacity: 1
        }
        :-moz-placeholder {
            color: rgba(#ffffff, 1);
            opacity: 1
        }
        label{
            font-size: 1.2rem;
            font-family: $headingFont;
            font-weight: 400;
            margin: 0;
            input[type=radio], input[type=checkbox]{
                margin: 0;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        [type=submit]{
            width: 100%;
            text-align: center;
            margin-top: 15px;
            font-size: 1.6rem;
        }
    }
    .special-quote{
        padding: 70px 0;
        blockquote{
            font-size: 1.8rem;
            font-family: $headingFont;
            font-weight: 400;
            line-height: 3rem;
            margin: 0;
            padding: 0;
            border: none;
            color: #ffffff;
        }
        .quoted-by{
            color: #ffffff;
            margin-top: 18px;
        }
    }
}
